[
  {random_primes,
   [
    {generator,
     #{prime_range => 300000000,
      rate_per_second => 2000}},
    {filter,
     #{type => dynamic, % dynamic|static
     % #{type => static,
       max_processes => 100,
       min_dynamic_interval => 1000,%ms
       max_dynamic_interval => 60000}}%ms
   ]},

  {eredis,
   % [{host, "127.0.0.1"},
   [{host, "192.168.0.12"},
    {port, 6379},
    {database, 0},
    {number_list_key, "number_list:2"},
    {prime_set_key, "prime_set:2"}
   ]},

  {kernel, [
   {logger_level, all},
   {logger, [
     {handler, default, logger_std_h, #{
            %%console logging
            % level => debug
            level => info
            % formatter => {logger_formatter, #{template => [level, " - " , pid, " - ", mfa ,":", line, " ", msg, "\n"]}}
        }}]}]}

].